@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
    background:#333;
    font-family: 'Lobster', cursive;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#QuoteBox{
    background:#FFF;
    margin-top:8%;
    padding: 2%;
    border-radius: 25px;
}
#quote{
    font-size: 25px;
}
#newTweet,#newQuote{
    border:none;
}
#newTweet:focus, #newQuote:focus{
    box-shadow:none;
}
footer p,a,a:hover{
    color:#fff;
}